
*{
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body{
  background-color: whitesmoke;
}

.logo{
  font-family:'Orbit';
  color: rgb(119, 69, 4);
  display: flex;
}

.logo span{
  color: whitesmoke;
}

.logo:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.header-inner-content{
  max-width: 1200px ;
  margin-left: auto;
  margin-right: auto;
}
.link{
  text-decoration: none;
  color:inherit
}

#divBusca{
  background-color:#E0EEEE;
  border:solid 2px rgb(228, 169, 91);
  border-radius:10px;
  width:300px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}

#btnBusca{
  border: none;
  float:left;
  height:29px;
  border-radius:0 7px 7px 0;
  width:105px;
  font-weight:bold;
  background:rgb(233, 187, 126);
}


.navbar{
  background-color: rgb(228, 169, 91);
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px rgb(228, 169, 91);
  z-index: 99;
}

.navbar>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  font-family: sans-serif;

}

.nav-icon-container{
  display: flex;
  align-items: center;
}

.nav-icon-container img{
  width: 30px;
  cursor: pointer;
}

.nav-icon-container img:first-child{
  margin-right: 1rem;

}

.nav-icon-container:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

nav ul li{
  color: whitesmoke;
  margin-right: 1.5rem;
  cursor: pointer;
  
}

nav ul li:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

